div{
    font-size: 20px;
}
ul{
    list-style: none;
}
.header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #ffffff; 
    position: fixed; 
    top: 0; 
    z-index: 1000;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.logo img{
    width: 2.5rem;
    height: 2.5rem;
}
.logo span{
    font-size: 1.5rem;
    font-weight: 700;
}
.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
    cursor: pointer;
}
.item a{
    font-weight: 500;
    cursor: pointer;
}
.icons{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
    cursor: pointer;
}
.icons span i{
    font-size: 1.3rem;
}
.icons span img{
    width: 40px;
    height: 40px;
}
.mobile-menu{
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}
.navigation i{
    display: none;
}
@media only screen and (max-width: 768px) {
    .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.53);
        z-index: 9999;
        display: none;
    }

    .menu{
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        z-index: 99999;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .mobile-menu{
        display: block;
    }
    .logo div{
        display: none;
    }
    .active-menu{
        display: block;
    }
    .navigation i{
        display: block;
    }
}